server:
  port: 8080

spring:
  application:
    name: product-api
  datasource:
    url: jdbc:mysql://localhost:3306/product_db
    username: root
    password: Vishwajeet@9909
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
